.header1stuff
  = render 'layouts/topHeader'
= render 'layouts/flash_messages'
.container
  %h3 Log in
  = form_for(:session, url: login_path, html: { class: 'login_form' }) do |f|
    .row
      .input-field.col.s6
        = f.label :email
        = f.text_field :email
    .row
      .input-field.col.s6
        = f.label :password
        = f.password_field :password
    = f.submit 'Log in', class: 'btn btn-success'
