.container.text-center
  %h2 All foods
.container.text-center
  .body
    %table.table-striped.col-sm-12
      %thead
        %tr
          %th Name
          %th Description
          %th Item Price
          %th Category
          %th Updated
          %th
      %tbody
        - @foods.each do |food|
          %a{ :href => "/>" }
            %tr
              %td= link_to "#{food.name}", edit_food_path(food.id)
              %td= food.description
              %td= food.price
              %td= food.category.present? ? food.category.title : 'none yet'
              %td= food.updated_at.strftime("%Y %e %d")
              %td
                = button_to food_path(food.id), :class => "clear-button", method: :delete do
                  %i.material-icons clear
  .footer
    .row
      %a.btn-danger{ :href => '/foods/new' }
        Add food
        %i.fas.fa-plus-circle
