%table.table.table-striped
  %thead
    %tr{:style => 'background-color:#BCAAA4;'}
      %th{ 'data-field' => 'id' } No.
      %th{ 'data-field' => 'name' } Name
      %th{ 'data-field' => 'description' } Description
      %th{ 'data-field' => 'price' } Price
      %th{ 'data-field' => 'quantity' } Quantity
      %th{ 'data-field' => 'line total' } Line Total
  %tbody
    - @cart.order_items.each do |order|
      %tr
        %td= order.food.id
        %td= order.food.name
        %td= order.food.description
        %td= order.food.price
        %td= order.quantity
        %td
          $#{order.total_price}
  %tr{ style: 'border-top:1px solid #3e2511' }
    %td
    %td
    %td
    %td Subtotal
    %td
    %td
      $#{@cart.total_price}
