.container.text-center
  %h2 All foods
.container.text-center
  .body
    %table.table-striped
      %thead
        %tr
          %th{ "data-field" => "id" } Name
          %th{ "data-field" => "name" } Description
          %th{ "data-field" => "price" } Item Price
          %th{ "data-field" => "price" } Category
          %th{ "data-field" => "price" } Updated
          %th{ "data-field" => "price" }
      %tbody
        - @foods.each do |food|
          %a{ :href => "/>" }
            %tr
              %td= link_to "#{food.name}", edit_food_path(food.id)
              %td= food.description
              %td= food.price
              %td= !food.category.nil? ? food.category.title : 'none yet'
              %td= food.updated_at.strftime("%Y %e %d")
              %td
                = button_to food_path(food.id), :class => "clear-button", method: :delete do
                  %i.material-icons clear
  .footer
    .row
      %a.btn-danger{ :href => '/foods/new' }
        Add food
        %i.fas.fa-plus-circle
