.container.text-center
  %h2 All Orders
- if @orders
  = will_paginate @orders
  .container.text-center
    .body
      %table.table-striped
        %thead
          %tr
            %th.col-md-2{ "data-field" => "name" } Owner
            %th.col-md-1{ "data-field" => "price" } Total
            %th.col-md-2{ "data-field" => "price" } Time Ordered
            %th.col-md-2{ "data-field" => "price" } Pick-Up Time
            %th.col-md-2{ "data-field" => "price" } Status
            %th.col-md-1{ "data-field" => "price" }
          %tbody
            - @orders.each do |order|
              %tr
                %td.col-md-2= order.user.first_name
                %td.col-md-1
                  $#{order.total || 0.0}
                %td.col-md-2= time_ago_in_words(order.created_at, include_seconds: true) + ' ago'
                %td.col-md-2= time_ago_in_words((order.pickup_time).minutes.from_now)
                = form_for order, url: { controller: 'administrator', action: 'update', order_id: order.id, status: order.Status }, method: :patch  do |f|
                  %td.col-md-1= f.select :Status, options_for_status, selected: order.Status
                  %td.col-md-1= f.submit 'Confirm'

- else
  .container There are no orders to display
