.container.text-center
  %h2 All Orders
- if @orders
  = will_paginate @orders
  .container.text-center
    .body
      %table.table-striped.col-sm-12
        %thead
          %tr
            %th.col-sm-2 Owner
            %th.col-sm-2 Total
            %th.col-sm-2 Time Ordered
            %th.col-sm-3 Status
            %th.col-sm-3
          %tbody
            - @orders.each do |order|
              %tr
                %td.col-md-2= order.user.first_name
                %td.col-md-1
                  $#{order.total_price || 0.0}
                %td.col-md-2= time_ago_in_words(order.created_at, include_seconds: true) + ' ago'
                = form_for order, url: { controller: 'orders', action: 'update', order_id: order.id, payment_status: order.payment_status }, method: :patch  do |f|
                  %td.col-md-1= f.select :payment_status, options_for_status, selected: order.payment_status
                  %td.col-md-1= f.submit 'Confirm'

- else
  .container There are no orders to display
