= javascript_include_tag 'application', 'data-turbolinks-track' => false
.header1stuff
  = render 'layouts/topHeader'
= render 'layouts/flash_messages'
.container
  .pad-bottom
    - if @ordered_foods.length == 0
      %p.text-center Your cart is empty
    - else
      %table.table.table-striped
        %thead
          %tr{:style => "background-color:#BCAAA4;"}
            %th{ "data-field" => "id" } No.
            %th{ "data-field" => "name" } Name
            %th{ "data-field" => "description" } Description
            %th{ "data-field" => "quantity" } Quantity
            %th{ "data-field" => "quantity" } Delivery Time
            %th{ "data-field" => "price" } Price
            %th{ "data-field" => "line total" } Line Total
        %tbody
          - @ordered_foods.each do |index, details|
            - food_id = details[:food][:id]
            %tr
              %td= index
              %td{ id: "food_name_#{food_id}" }= details[:food]['name']
              %td{ id: "food_desc_#{food_id}" }= details[:food]['description']
              %td{ id: "food_qty_#{food_id}" }
                = form_for 'quantity', url: { controller: 'cart_items', action: 'update', food_id: details[:food][:id], id: index }, method: :patch  do |f|
                  = f.number_field details[:qty], min: 1, value: details[:qty], :class => 'qty qty-editable-width', 'data-message' => food_id
              %td.food-prep{ 'data-message' => "#{details[:food]['prep_time']}", id: "food_prep_#{food_id}" }
                = details[:prep_time]
                mins
              - if details[:food]['sales'][:status]
                %td{:id => "food_unit_price_#{food_id}"}
                  = details[:food]['sales'][:price]
                  $
                %td
                  $
                  %span.line-total{ 'data-message' => "#{details[:food]['sales'][:price]}", id: "food_sub_total_#{details[:food][:id]}" }= details[:food]['sales'][:price].to_i * details[:qty].to_i
              - else
                %td{ id: "food_unit_price_#{food_id}" }= details[:food]['price']
                %td
                  $
                  %span.line-total{ 'data-message' => "#{details[:food]['price']}", id: "food_sub_total_#{details[:food][:id]}" }= details[:food]['price'].to_i * details[:qty].to_i
              %td
                = button_to cart_item_delete_path(details[:food][:id]), :class => 'clear-button', method: :delete  do
                  %i.material-icons clear
        %tfoot
          %tr{:style => "border-top:2px solid #3e2511"}
            %td
            %td
            %td#prep_total
              Your food will be ready in #{time_ago_in_words(@total_pickup_time.minutes.from_now)}.
            %td
            %td
            %td Subtotal
            %td#total
              $#{@total}
      = button_to 'Checkout', checkout_path, :class => 'btn btn-info'
